.root {
  composes: displaySize from "./globals.css";
  composes: alignmentRow from "./globals.css";
}

.contactsDiv {
  width: 25%;
  height: 100%;
  composes: alignmentColumn from "./globals.css";
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.contactsNavbar {
  width: 100%;
  height: 12%;
  composes: alignmentColumn from "./globals.css";
  align-items: center;
  justify-content: space-between;
  background-color: #a3a3a3;
}

.contactsInfo {
  width: 100%;
  height: 50%;
  composes: alignmentRow from "./globals.css";
  align-items: center;
}

.contactsInfo > p {
  width: 70%;
  padding: 0 0 0 15px;
  padding-top: 5px;
  font-size: larger;
  font-weight: bold;
  color: white;
}

.contactsInfoOptions {
  width: 30%;
  height: 100%;
  composes: alignmentRow from "./globals.css";
  padding-top: 5px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.contactsSearchInput {
  width: 100%;
  height: 50%;
  composes: alignmentColumn from "./globals.css";
  align-items: center;
  justify-content: center;
}

.inputIcon {
  position: absolute;
  left: 1.5%;
  color: white;
}

.contactsSearchInput > input {
  width: 80%;
  height: 25px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 18px;
  background-color: rgb(80, 80, 80);
  color: white;
}

.contacts {
  width: 100%;
  height: 88%;
  composes: alignmentColumn from "./globals.css";
  background-color: #a3a3a3;
  overflow-y: auto;
  padding-top: 25px;
  color: white;
}

.contact {
  width: 100%;
  height: 8%;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 35px;
}

.contactIcon {
  width: 40px;
  height: 40px;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  justify-content: center;
}

.contactUnit {
  width: 70%;
  height: 100%;
  composes: alignmentColumn from "./globals.css";
  justify-content: space-between;
  color: #e7e7e7;
}

.contactName {
  width: 100%;
  composes: alignmentRow from "./globals.css";
  justify-content: space-between;

}

.contactUsername {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.contactMessage {
  width: 100%;
}

.messagesDiv {
  width: 75%;
  height: 100%;
  composes: alignmentColumn from "./globals.css";
  align-items: center;
  justify-content: center;
}

.messagesNavbar {
  width: 100%;
  height: 6%;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.messagesInfo {
  width: 10%;
  height: 100%;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  padding-left: 30px;
  border: 1px solid black;
}

.messagesInfo > p {
  margin-right: 15px;
}

.messagesOptions {
  width: 15%;
  height: 100%;
  composes: alignmentRow from "./globals.css";
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}

.messages {
  width: 100%;
  height: 88%;
  composes: alignmentColumn from "./globals.css";
  justify-content: end;
  align-items: center;
  overflow-y: scroll;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid black;
}

.messages > div {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.messages > div > p {
  background-color: transparent;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.messageSent {
  justify-content: end;
}

.messageSent > p{
  
}

.messageReceived {
  justify-content: baseline;
}

.messagesInput {
  width: 100%;
  height: 6%;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

.messagesInput > input {
  width: 80%;
  height: 25px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}
